doctype html
html(lang='en')
    head
        title Flash Card
    body
        header 
            h1 Flash Card
        section#content
            h2= prompt
        footer            
            p An app to help your study