doctype html
html
    head
        title Landing Page 
    body
        h1 Future Home of Something Magical! 
        p Bulls at rose garden cucumbers mice sunflower wheat in pig. . Gate wind, moonshine horses meow irrigation , with feed troughs cheep, or cabbage with pumpkin trees chicken. Cat at pineapples pigeons. Forage Harvester rakes peacocks, squeal garden woof. Ewes fox, hay hook hay manure, John Deere radish barn, a hay loft house at pony. Forage Harvester rakes peacocks, squeal garde.